%h1 问题

.reply
  = @question.content
  
  = form_for [@question, @answer] do |f|
    = f.text_area :content
    .post
      .counter= 200
      = f.submit "回答", class: "button disabled", disabled: "disabled"
