%h1 Edit profile

= form_for @user do |f|
  = gravatar_for(@user)
  = render 'shared/error_messages'
  .field
    %p= f.label :name
    %p= f.text_field :name

  .field
    %p= f.label :email
    %p= f.text_field :email

  .field
    %p= f.label :password
    %p= f.password_field :password
    
  .field
    %p= f.label :password_confirmation
    %p= f.password_field :password_confirmation

  .field
    %p= f.label :bio 
    %p= f.text_area :bio 

  = f.submit "Update account", class: "submit"

= button_to "Delete", @user, method: :delete, data: { confirm: "你确定要自杀了？"}, class: "button submit"
