%h1 粉丝列表(能换个名字吗)

.followed_users_or_followers
  - @followers.each do |user|
    %div{class: 'user', :'data-user-id' => user.id }
      %a{href: user_path(user)}
        = gravatar_for user
      .desc
        .info
          .name= link_to user.name, user_path(user)
          .counter= "回答: #{user.answers.count}"
          .bio= user.bio
        - if signed_in?
          .follow_form
            - if current_user == user
              %button.follow{disabled: :disabled} 这是你自己
            - else
              - if current_user.following?(user)
                %button.unfollow{:'data-user-id' => user.id, :'data-relationship-id' => relationship_id(user) } 取消关注
              - else
                %button.follow{:'data-user-id' => user.id } 关注
