//%h1 Profile

.profile
  .private
    = gravatar_for @user

  .desc
    .info
      .name= link_to @user.name, @user
      //.email= @user.email
      .bio= @user.bio

    .statistic
      %a.box{href: "#"}
        %span.counter= "xx" 
        %span= "礼物"
      %a.box{href: "#"}
        %span.counter= "xx"
        %span= "好评"
      %a.box{href: user_path(@user)}
        %span.counter= User.find(params[:id]).answers.size
        %span= "回答"


- if signed_in?
  .ask
    %strong 向我提问
    = form_for [@user, @user.questions.new] do |f|
      = f.text_area :content
      .post
        .counter= 200
        = f.submit "Ask", class: "button"

.answers-list
  %strong 回答
  .answers
    - @answers.each do |answer|
      .answer
        .question_content= answer.question.content
        = link_to owner_of(answer.question).name, user_path(owner_of(answer.question))
        .answer_content= answer.content
        .date= time_ago_in_words answer.created_at

