= render partial: 'user', locals: { user: @user }

- if signed_in?
  .ask
    %strong 向我提问
    = form_for [@user, @question] do |f|
      = f.text_area :content
      .post
        .counter= 200
        = f.submit "Ask", class: "button disabled", disabled: "disabled"

.answers-list
  %strong 回答
  .answers
    - @answers.each do |answer|
      = render partial: 'answers/answer', locals: { answer: answer }

