%h1 Profile

.profile
  = gravatar_for @user
  .desc
    %span Name
    = @user.name
  .desc
    %span Email
    = @user.email
  .desc
    %span Bio
    = @user.bio

  - if current_user?
    = link_to "Edit", edit_user_path(@user), class: "button"
