%header
  %nav
    = link_to "ask.fm", root_path
    %ul.pull_right
      %li= link_to "Home", root_path
      %li= link_to "help", "#"
      %li= link_to "About", "#"
      %li= link_to "Sign in", "#"
      %li= link_to "Sign up", signup_path
