%header
  %nav
    = link_to "ask.fm", root_path, class: "logo"
    %ul.pull_right
      %li= link_to "首页", root_path
      %li= link_to "帮助", "#"
      %li= link_to "关于", "#"
      - if signed_in?
        %li= link_to "Users", users_path
        //%li= link_to "Questions", questions_path
        //%li= link_to "NeedToAnswer", need_to_answer_path
        //%li= link_to "Sign out", signout_path, method: :delete
        %li.toggle_drop_down
          %a{href: "#", title: current_user.name}= current_user.name.size>3 ? current_user.name[0...3]+'...' : current_user.name
          %ul.drop_down
            %li= link_to "个人页面", user_path(current_user)
            %Li= link_to "修改资料", edit_user_path(current_user)
            %li= link_to "问题", questions_path
            %li= link_to "尚未回答", need_to_answer_path
            %li= link_to "注销登录", signout_path, method: :delete
      - else 
        %li= link_to "登录", signin_path 
        %li= link_to "注册", signup_path
